.root {
  min-height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.content-div {
  width: 70%;
  height: 20;
  bottom: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.color-picker {
  width: 100%;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 650px) {
  .content-div {
    width: 100%;
    bottom: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}

.btn-primary:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65) !important;
}

.btn-danger:focus {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.65) !important;
}
